html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column; /* Stacks all elements vertically */
  justify-content: center; /* Align content towards the top */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f4f4f4; /* Optional background color */
}

h2 {
  position: relative; /* Keep it part of normal document flow */
  top: 10px; /* Distance from the top */
  font-family: skia; /* Font styling */
  color: #333; /* Text color */
  margin: 10px 0; /* Add some spacing */
  text-align: center;
}

h3 {
  position: relative; /* Keep it part of normal document flow */
  font-family: 'Lucida Grande'; /* Font styling */
  color: #333; /* Text color */
  margin: 10px 0; /* Add some spacing */
  text-align: center;
}

p {
  position: relative; /* Keep it part of normal document flow */
  font-family: 'Lucida Grande'; /* Font styling */
  color: #333; /* Text color */
  margin: 5px 0; /* Minimal spacing between <p> and other elements */
  text-align: center;
}

.flex-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid black; /* Adds a border */
  border-radius: 10px; /* Rounds corners */
  padding: 20px; /* Adds space inside */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}
